<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.UnityPlayer.UnityARApp">

    <!-- PERMISSIONS -->
    <!-- Old Android versions (needed for compatibility) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Android 13+ permission for images -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <!-- UNITY REQUIRED SETTINGS -->
    <application>
        <meta-data android:name="unityplayer.SkipPermissionsDialog" android:value="false" />
    </application>

</manifest>
